@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Kartı</title>
  <style>     
      .login-button {
          background-color: #007bff;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }
  </style>
</head>
<body class="home-container">

    <div class="card">
        <h2>Giriş Yap</h2>
        <p>Kütüphane Hesabınıza giriş yapmak için aşağıdaki bağlantıya tıklayın.</p>
        
        <button type="submit" class="login-button"> <a href="https://localhost:44309/Users/Login" class="login-button">Giriş Yap</a></button>
    </div>
</body>
</html>


