@model MVC_Library_Otomasyon.Model.BookGenres

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                <h2>Delete</h2>
            </div>
            <div class="ibox-body">
                <h3>Are you sure you want to delete this?</h3>
                <div class="form-group">
                    <b> Genre : </b>
                    @Html.DisplayFor(x => x.Genre)
                </div>

                <div class="form-group">
                    <b> Description : </b>
                    @Html.DisplayFor(x => x.Description)
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
